.container {
    display: flex;
    width: 100vw;
    height: 3rem;
    background-color: #000;
    padding: 0 1rem;
}

.headerLeftSide {
    flex: 1;
    display: flex;
    align-items: center;
}

.leftSideLinks {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    color: #FFF;
    font-size: .75rem;
    cursor: pointer;
}

.headerRightSide {
    width: 6.25rem;
    display: flex;
    align-items: center;
    color: #FFF;
}

.icons {
    padding: .5rem;
    cursor: pointer;
}